@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.container-color {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

}


.headers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 11vh;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  /* z-index: 1000; */

}

.head-box ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;

}

.head-box ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.head-box ul li a:hover {
  color: #FAB700;
}



/* pages */

.container ul li {
  position: relative;
}

.container ul li ul.submenu,
.container ul.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  background-color: white;
  border: 1px solid white;
  list-style: none;
  min-width: 180px;
  margin-top: 35px;

  z-index: 100;
  display: block;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.5s ease;

}

.container ul li:hover ul.submenu,
.container ul li:hover ul.dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.container ul li ul.dropdown-menu,
.container ul li ul.submenu {
  border: none;
  border-radius: 0;
}

.container ul li ul.dropdown-menu li a:hover,
.container ul li ul.submenu li a:hover {
  background-color: #FAB700;
  color: white;
}

.container ul li ul.dropdown-menu li a,
ul.submenu li a {
  display: block;
  padding: 13px 20px;
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.container {
  margin-bottom: 60px;
}


.about-home li a {
  text-decoration: none;
}




/* Mobil görünüş: 992px-dən kiçik ekranlar */
@media (max-width: 992px) {

  /* Burger icon göstər */
  .burger {
    display: block;
    cursor: pointer;

  }

  .head-box ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    z-index: 999;
    padding: 0 1.5rem;
  }

  .head-box ul li {
    width: 100%;
    padding: 7px 20px;


  }

  .head-box ul li a {
    display: block;
    font-size: 12px;
  }

  /* Açıq menyu */
  .head-box ul.active {
    max-height: 80vh;
    /* lazım olan qədər açılır */
    overflow-y: auto;
    /* scroll lazım olsa */
  }

  .submenu li a,
  .dropdown-menu li a {
    background-color: white;
  }


  .container ul li ul.submenu,
  .container ul li ul.dropdown-menu {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    visibility: visible;
  }

  .container ul li:focus-within ul.submenu,
  .container ul li:focus-within ul.dropdown-menu {
    max-height: 300px;
  }

  .burger {
    display: block;
    /* göstər */
    cursor: pointer;
    position: relative;
    left: 26%;

  }

  .burger:hover {
    transition: 0.5s;
  }

  .burger span {
    display: block;
    width: 28px;
    height: 3.2px;
    margin: 5px 0;
    background-color: #FAB700;
    position: relative;
    right: 1%;
  }


  .start-head {

    left: 10%;
  }
}

@media (max-width: 400px) {

  /* Baş menyu mobil */
  .head-box ul {


    padding: 1.5rem 1.5rem 0 2rem;
    display: none;

  }

  .burger span {
    display: block;
    width: 28px;
    height: 3.2px;
    margin: 5px 0;
    background-color: #FAB700;
    position: relative;
    right: 15%;
  }

}



ul li a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

i {
  color: black;
  font-size: 13px;
}

.container ul li a:hover {
  color: #FAB700;
  ;
}

.dream-img {
  background-image: url(./img/home-banner.jpg);
  width: 100%;
  height: 700px;
  background-size: center;
  position: relative;
  background-attachment: fixed;

}






.container ul li a:hover {
  color: #FAB700;
}

@media screen and (max-width: 992px) {
  .dream-img {
    background-size: center;
    background-position: top center;

  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;

  }


  .menu-end {
    padding: 0 15px;
  }



  /* əsas menyu linkləri */
  .container>div>ul>li>a {
    padding: 10px 15px;
    /* AZALTDIM */
    line-height: 1.2;
  }


  .container>div>ul>li {
    margin: 0;
    /* əlavə boşluq qalmasın */
  }

  .container>div>ul.active {
    padding: 20px 0;
    max-height: 350px;
  }

  .container ul {
    gap: 20px !important;
  }

  .container-color {
    width: 100%;


  }

  .container {
    max-width: 100%;

  }

  .lorem {
    text-align: center;
  }

}

.surname {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;
}

.font {
  font-size: 60px;
  line-height: 2.5;
  font-family: "Oswald", sans-serif;
}

.dream {
  color: black;
  background-color: #FAB700;
}

.lorem {
  font-size: 14px;
  width: 530px;
  text-align: center;
  padding-bottom: 40px;

  font-family: "Roboto", sans-serif;
}


h1 {
  display: grid;
  text-align: center;
  color: white;
}

.discover {
  display: flex;
  justify-content: center;


}

.discover {
  align-self: center;
  text-decoration: none;
  color: #FAB700;
  ;
  font-size: 14px;
  height: 50px;
  width: 170px;
  background-color: rgb(37, 37, 37);
  padding-top: 15px;
  transition: 0.5s;
  border-radius: 5px;
}

.discover:hover {
  background-color: #FAB700;
  color: rgb(37, 37, 37);
  transition: 0.7s;
}



@media screen and (max-width: 768px) {


  .font {
    font-size: 36px;
    line-height: 0.5;
  }

  .dream-img {
    width: 100%;
    height: 90vh;
    background-size: center;
    background-position: 35% left center;

  }

  .lorem {
    font-size: 14px;
    width: 73%;
    text-align: center;
    padding: 40px 20px;

  }

}



@media screen and (max-width: 481px) {
  .font {
    font-size: 25px;
    line-height: 0.5;
  }

  .dream-img {
    width: 100%;
    height: 75vh;
    background-size: center;
    background-position: 50% center;

  }

  .lorem {
    font-size: 14px;
    width: 93%;
    text-align: center;
    padding: 40px 20px;

  }
}

/* Our offered services */



.services-head {
  font-family: "Oswald", sans-serif;
  margin-top: 6rem;
  text-align: center;
  word-spacing: 5px;
  font-size: 36px;

  color: black;
}

.text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-size: 14px;
  margin-bottom: 70px;
  margin-top: 10px;
}


.build-paint-repair span a {
  font-family: "Oswald", sans-serif;
}

.build-paint-repair {

  width: 365px;
  height: 320px;
  /* width: 25%;
  height: 75vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.build-paint-repair:hover {

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}

.build-img-box {
  width: 100%;
}



.build-paint-repair img {
  width: 60px;
  align-self: center;
  box-shadow: none;

}

.text-lorem {
  text-align: center;
  color: #777777;
  width: 75%;
  align-self: center;

}

span a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
  line-height: 60px;
}

.offered-box {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 992px) {
  .offered-box {
    display: grid;
  }


}

@media screen and (max-width: 592px) {

  .services-head {

    font-size: 26px;

    color: black;
  }
}

@media screen and (max-width: 400px) {

  .services-head {

    font-size: 22px;

    color: black;
  }

  .build-paint-repair {
    margin: auto;
    width: 90%;
    height: 75vh;

  }

}




/* Our Latest Projects */

.projects-head {
  font-family: "Oswald", sans-serif;
  margin-top: 7rem;
  text-align: center;
  word-spacing: 5px;
  font-size: 36px;

  color: black;
}

.build-img-box {
  display: flex;
  flex-wrap: wrap;
}

.img-box {
  position: relative;
  /* ƏN VACİB XƏTT */
  width: 33.3%;
  overflow: hidden;



}

.build1 {
  width: 100%;
  /* BU LAZIMDIR */
  display: block;
}

.img-hover {
  width: 100%;
  position: absolute;
  inset: 0;
  background: rgba(249, 177, 8, 0.804);
  color: rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  opacity: 0;
  transition: opacity 0.4s ease;
}

.img-box:hover .img-hover {
  opacity: 1;
}

.img-hover h4 {
  font-size: 20px;
}

.img-hover p {
  font-size: 14px;
}

@media screen and (max-width: 991px) {

  .img-box {
    position: relative;
    /* ƏN VACİB XƏTT */
    width: 50%;
    overflow: hidden;

  }

}

@media screen and (max-width: 601px) {

  .img-box {
    position: relative;
    /* ƏN VACİB XƏTT */
    width: 100%;
    overflow: hidden;

  }

  .projects-head {
    margin-top: 7rem;
    text-align: center;
    word-spacing: 5px;
    font-size: 26px;

    color: black;
  }

  .text {
    font-size: 15px;
  }
}


/* Meet Our Expert Members */
.expert-members {
  font-family: "Oswald", sans-serif;
  margin-top: 7rem;
  text-align: center;
  word-spacing: 5px;
  font-size: 36px;

  color: black;
}


.person-box {
  position: relative;
  /* ƏN VACİB XƏTT */
  width: 17%;
  overflow: hidden;
}

.text {
  font-size: 14px;
}

.name {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  padding-top: 35px;
}

.person {
  width: 100%;
  display: block;
}


.person-img-hover {
  position: absolute;
  inset: 0;
  /* YALNIZ wrapper-ı tutur */
  background: rgba(249, 177, 8, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}


.person-img-wrapper:hover .person-img-hover {
  opacity: 1;
}

.person-hover p {
  font-size: 14px;
}

.name-box {
  background: white;
  text-align: center;
  line-height: 10px;
  position: relative;
  z-index: 2;
}


.person-img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.person {
  width: 100%;
  display: block;
}


.person-img-wrapper:hover .person-img-hover {
  opacity: 1;
}

.mission {
  line-height: 20px;
  color: #777777;
}

.person-box-head {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 992px) {
  .expert-members {
    font-size: 26px;

  }

  .person-box-head {
    display: flex;
    flex-wrap: wrap;
    gap: 13%;
    justify-content: center;
    padding: 0, 80px;
  }

  .person-box {

    width: 260px;

  }
}


@media screen and (max-width: 769px) {
  .person-box-head {
    gap: 5%;
  }

}

@media screen and (max-width: 400px) {
  .text {
    padding: 0 15px;
  }
}






.back-color {
  margin-top: 50px;
  background-color: #FAB700;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 5vw, 4rem);


}

.counter {
  font-size: 48px;

}


.back-color div {

  font-family: "Oswald", sans-serif;
}


@media screen and (max-width: 992px) {
  .back-color {

    display: flex;
    flex-wrap: wrap;
    height: 450px;
    gap: 0;
    justify-content: flex-start;
  }

  .back-color div {
    margin-left: 70px;
    margin-right: 60px;
    /* width: 20%; */
  }

}

@media screen and (max-width: 769px) {
  .back-color {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
    /* padding: 30px 30px 30px 70px; */
  }

  .back-color div {
    margin-left: 35px;
    margin-right: 30px;

  }

  .counter {
    /* width: 23%; */

  }
}

@media screen and (max-width: 575px) {
  .back-color {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;

  }

  .back-color div {
    flex: none;
    /* əvvəlki flex-basis-i ləğv edir */
    /* width: 100%; */
    /* tam en */
    text-align: center;
  }
}




/* Some Features that Made us Unique */

.features {
  font-family: "Oswald", sans-serif;

  margin-top: 7rem;
  text-align: center;
  word-spacing: 5px;
  font-size: 36px;

  color: black;
}


.despatch {
  width: 24%;
  height: auto;
  padding: 30px 40px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  transition: 0.5s;
}

.despatch:hover {
  transition: 0.5s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}

.despatch span i {

  font-size: 26px;
  color: rgb(54, 53, 53);
}

.despatch:hover span i,
.despatch:hover span {
  color: #FAB700;
  transition: 0.5s;
}

.despatch span {

  font-size: 18px;
  font-family: "Oswald", sans-serif;

}

.despatch-text {
  color: #777777;
  padding-top: 20px;
}

.despatch-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


@media screen and (max-width: 992px) {
  .despatch-box {
    display: flex;
    flex-wrap: wrap;


  }

  .despatch {
    width: 330px;
    height: auto;


  }
}

@media screen and (max-width: 768px) {
  .despatch {
    width: 500px;
    height: auto;
    margin: 0 30px;

  }

  .features {
    font-size: 26px;
  }

}


@media screen and (max-width: 435px) {
  .features {
    font-size: 25px;
    padding: 0 10px;
  }

  .text {
    padding: 0 20px;
  }
}

/* ceo girls */


.ceo-box {
  width: 100%;
  min-height: 70vh;
  background-color: #f9f9ff;
}

.ceo {
  margin-top: 70px;
  background-color: #f9f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  gap: 40px;
  /* padding: 10rem 0; */

}

.accessory {
  width: 36.533%;
  height: auto;
  border-radius: 10px;
  transition: 0.5s;
  cursor: grab;
  display: flex;
  border: 1px solid rgb(228, 228, 228);
  padding: 45px;
}

.accessory:hover {
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.accessory:hover h4 {
  color: #FAB700;
  transition: 0.5s;
}



.accessorry-text {
  color: #777;
  font-size: 14px;
  margin-bottom: 15px;

}

.accessorry-text,
h4,
h5 {
  padding-left: 25px;
}

.accessory h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

.accessory h5 {
  margin: 0;
  color: #555;
  font-weight: normal;
  font-size: 14px;
}

@media screen and (max-width: 910px) {
  .accessory {
    width: 35.5%;

  }

}

@media screen and (max-width: 768px) {

  .ceo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .accessory {
    padding: 20px;
    width: 490px;
    height: auto;

  }

}

@media screen and (max-width: 570px) {

  .accessory {
    padding: 20px;
    width: 86%;
    height: auto;

  }


}


@media screen and (max-width: 350px) {

  .accessory {
    padding: 20px;
    width: 100%;
    height: auto;

  }

  .accessory img {
    width: 15vw;

  }

  .accessory .accessorry-text {

    width: 100%;
  }

  .accessory {
    padding: 15px;

  }

  .ceo {

    padding: 50px 25px;
  }

}

/* logo */

.logo {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.logo img {
  filter: contrast(30%);
  transition: 0.5s;

}

.logo img:hover {
  filter: contrast(100%);
  transition: 0.5s;
}


@media screen and (max-width: 992px) {

  .logo div:nth-child(5) {
    display: none;
  }
}



@media screen and (max-width: 768px) {

  .logo div:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 575px) {

  .logo div:nth-child(3) {
    display: none;
  }

  .logo {
    gap: 7rem;
  }
}

@media screen and (max-width: 400px) {

  .logo div:nth-child(2) {
    display: none;
  }

}


/* contact */


.end-color {
  background-color: #222;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 70px 60px;
  gap: 20px;

}

.end-color>div:nth-child(1),
.end-color>div:nth-child(2),
.end-color>div:nth-child(3) {
  flex: 0 0 23%;
}

.end-color>div:nth-child(4),
.end-color>div:nth-child(5) {
  flex: 0 0 40%;
}

.end-text,
.end-text i {
  color: #777777;
  font-size: 14px;
  ;
}

.end-color h6 {
  font-size: 20px;

  font-family: "Oswald", sans-serif;
}

.end-color div p a {
  text-decoration: none;
  font-size: 24px;
  line-height: 10px;
  color: #FAB700;
}


.newsletter {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.email {
  width: 100%;
  padding: 8px 60px 8px 17px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 14px;
}

.send-btn {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background-color: #FAB700;
  color: #777777;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn i {
  font-size: 14px;
}



.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.color {
  font-size: 14px;
}

.icon-box {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-content: center;
  align-items: center;
}

.icon-box a {
  width: 30px;
  height: 30px;
  background-color: #111;

  text-align: center;
  line-height: 30px;
  display: inline-block;
  margin-left: 6px;
}

.icon-box a i {
  color: white;
}

@media screen and (max-width: 992px) {

  .end-color {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }




  .end-color>div:nth-child(1),
  .end-color>div:nth-child(2) {
    flex: 0 0 40%;
  }


  .end-color>div:nth-child(3) {
    flex: 0 0 88%;
  }


  .end-color>div:nth-child(4),
  .end-color>div:nth-child(5) {
    flex: 0 0 40%;
  }

}



@media screen and (max-width: 768px) {

  .end-color>div:nth-child(4),
  .end-color>div:nth-child(5) {
    flex: 0 0 100%;
    text-align: center;
  }

  .end-color>div:nth-child(3) {
    margin-bottom: 50px;
  }

  .end-color {
    padding: 70px 40px;
  }
}


@media screen and (max-width: 576px) {

  .end-color>div:nth-child(1),
  .end-color>div:nth-child(2),
  .end-color>div:nth-child(3) .end-color>div:nth-child(4),
  .end-color>div:nth-child(5) {
    flex: 0 0 85%;

  }

  .end-color {
    padding: 15px;
  }
}

.head-box ul li a.active {
  color: #FAB700;
  font-weight: bold;
}